/**
 * panel styles
 */
.tbx {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    z-index: 999;
}
.tbx_panel {
    position: absolute;
    width: 17rem;
    height: 27rem;
    bottom: 2rem;
    right: 0;
    border: 1px solid tomato;
    border-radius: 1rem;
}
.tbx_panel iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 1rem;
}
/**
 * panel close button styles
 */
.tbx_panel-close {
    position: absolute;
    right: -1rem;
    top: -2rem;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    border: 1px solid orangered;
    background: #0c5679;
}
.tbx_panel-close::before,
.tbx_panel-close::after {
    position: absolute;
    left: 15px;
    top: 6px;
    display: block;
    content: "";
    height: 20px;
    width: 2px;
    background-color: white;
}
.tbx_panel-close::before {
    transform: rotate(45deg);
}
.tbx_panel-close::after {
    transform: rotate(-45deg);
}
.tbx_panel-close:hover {
    cursor: pointer;
    background: orangered;
}
/**
 * button styles
 */
.tbx_icon {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 4rem;
    width: 4rem;
}
.tbx_icon:hover {
    cursor: pointer;
}
.tbx_icon-button,
.tbx_icon-ring {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.tbx_icon-button {
    display: grid;
    place-items: center;
    background-color: #143944;
}
.tbx_icon-button svg {
    transform: scale(.8,.8);
}
.tbx_icon-ring {
    border: solid 3px orangered;
    animation: ring 2s ease-out infinite;
}
@keyframes ring {
    to {
        border: transparent 0px solid;
        transform: scale(1.4);
        opacity: 0;
    }
}
/**
 * other styles
 */
.none {
    display: none;
}
/**
 * animation styles
 */
.fade-in {
    animation: fade-in 0.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.fade-out {
    animation: fade-out 0.3s ease-out both;
}
@keyframes fade-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
