$LEFT_CHAT_COLOR: powderblue
$RIGHT_CHAT_COLOR: pink

.MainContainer
    padding: .5rem
    background-color: ivory
.MsgContainer
    display: flex
    flex-flow: column nowrap
    align-items: flex-start
    padding: 12px
.MsgGroup
    display: flex
    flex-flow: column nowrap
    padding: .5rem 1rem

.right,
.left
    position: relative
    max-width: 80%
    min-width: 10rem
    margin: 1px
    border-radius: 8px
.right
    align-self: flex-end
    background-color: $RIGHT_CHAT_COLOR
    &:first-child
        border-top-left-radius: 24px
        border-top-right-radius: 24px
    &:last-child
        border-bottom-left-radius: 24px
        border-bottom-right-radius: 0px
        &:after
            content: ''
            position: absolute
            right: -1rem
            bottom: 0
            border-width: 1rem 0 0 1rem
            border-color: transparent transparent transparent $RIGHT_CHAT_COLOR
            border-style: solid
    & .msg
        text-align: left
    & .date
        text-align: left

.left
    align-self: flex-start
    background-color: $LEFT_CHAT_COLOR
    &:first-child
        border-top-left-radius: 24px
        border-top-right-radius: 24px
    &:last-child
        border-bottom-right-radius: 24px
        border-bottom-left-radius: 0px
        &:after
            content: ''
            position: absolute
            left: -1rem
            bottom: 0
            border-width: 1rem 1rem 0 0
            border-color: transparent $LEFT_CHAT_COLOR transparent transparent
            border-style: solid
    & .msg
        text-align: right
    & .date
        text-align: right

.date
    width: 100%
    color: gray
    font-size: 14px
    margin-bottom: 4px
.msg
    width: 100%
    text-overflow: ellipsis
    overflow: hidden

