.MainContainer
    padding: .5rem
    background-color: ivory
    display: flex
    flex-flow: column nowrap
.MessageContainer
    max-width: 80%
    padding: .5rem
    margin: 4px
    border: 1px solid gray
.left
    align-self: flex-end
.right
    align-self: flex-start
