.avatar
    flex: 0 0 auto
    width: 3.5rem
    height: 3.5rem
    margin-left: 1rem
    & img
        object-fit: cover
        height: 100%
        width: 100%
        border-radius: 8px
        border: 2px solid var(--C7)

.description
    flex: 1 1 auto
    height: 3.5rem
    background: tomato
    border-radius: 8px
    padding: 4px
.menu
    flex: 0 0 auto
    width: 3.5rem
    height: 3.5rem
    background: brown
    border-radius: 8px
    padding: 4px
    margin-right: 1rem
.loader
    margin-left: 1rem
