.avatar
    flex: 0 0 auto
    width: 3.5rem
    height: 3.5rem
    margin-left: 1rem
    position: relative
    & > img
        object-fit: cover
        height: 100%
        width: 100%
        border-radius: 12px
.avatar,
.description
    color: var(--color-BACKGROUND)
    background: white
    border: 1px solid var(--color-HOVER)
.avatar,
.description,
.menu
    display: grid
    place-items: center
    border-radius: 12px
.menu,
.description
    padding: 4px
.description
    flex: 1 1 auto
    height: 3.5rem
    margin: 0 8px
.descriptionSw
    position: absolute
    width: 12px
    height: 12px
    right: 0
    bottom: 0
    border-radius: 50%
    transform: translate(10%,10%)
    outline: 3px solid honeydew
.lc
    background: lightcoral
.lb
    background: lightblue
.menu
    flex: 0 0 auto
    width: 3.5rem
    height: 3.5rem
    background: powderblue
    margin-right: 1rem
    &:hover
        cursor: pointer
    &:hover img
        filter: brightness(60%)
.menuItem
    width: 90%
    height: 90%
    & > img
        object-fit: cover
        height: 100%
        width: 100%
.gray
    background: gainsboro
    filter: grayscale(100%)
