/**
 * chat container styles description
 */
.ChatContainer
    flex: 1 1 10rem
    overflow: auto
    width: 100%
    display: flex
    position: relative
.ChatUsers
    flex: 0 1 6rem
    overflow: auto
    border-left: 1px solid var(--color-HOVER)
.ChatMessages
    flex: 1 1 3rem
    overflow: auto
    padding: 8px
    border-left: 1px solid var(--color-HOVER)
.ChatMessagesEmpty
    height: 100%
    display: grid
    place-items: center
    & > p
        font-size: 1.5rem
        font-weight: var(--font-700)
        color: var(--C2)
/**
 * chat input form styles description
 */
.Form
    flex: 0 0 3rem
    width: 100%
    display: flex
    border-top: 1px solid var(--color-HOVER)
.FormBody
    flex: 1 1 auto
    display: flex
    align-items: center
    justify-content: flex-end
    & > input
        width: 100%
        height: 80%
        font-size: 1rem
        padding: 0 4px
        border: 1px solid var(--color-HOVER)
        border-radius: 4px
        &:focus
            outline: none
            background: var(--color-INPUTFOCUS)
.Button
    width: 3rem
    height: 47px
    border: none
    background: transparent
    display: grid
    place-items: center
    &:hover
        cursor: pointer
        background: var(--color-HOVER)
/**
 * chat messages styles description
 */
.Chat
    width: 100%
    height: 100%
.MsgGroup
    display: flex
    flex-flow: column nowrap
    padding: .5rem 1rem
.MsgContainer
    display: flex
    flex-flow: column nowrap
    align-items: flex-start
    padding: 12px
.date
    width: 100%
    color: gray
    font-size: 14px
    margin-bottom: 4px
.msg
    width: 100%
    text-overflow: ellipsis
    overflow: hidden
    & a
        text-decoration: underline dotted
        color: coral
    & p,
    & ol,
    & ul,
    & iframe
        padding-bottom: 4px
    & ol,
    & ul
        padding-left: 1.5em
    & p img
        max-width: 100%
        max-height: 200px
/**
 * chat bubbles styles description
 */
$LEFT_CHAT_COLOR: powderblue
$RIGHT_CHAT_COLOR: pink

.right,
.left
    position: relative
    max-width: 80%
    min-width: 10rem
    margin: 1px
    border-radius: 8px
.right
    align-self: flex-end
    background-color: $RIGHT_CHAT_COLOR
    &:first-child
        border-top-left-radius: 24px
        border-top-right-radius: 24px
    &:last-child
        border-bottom-left-radius: 24px
        border-bottom-right-radius: 0px
        &:after
            content: ''
            position: absolute
            right: -1rem
            bottom: 0
            border-width: 1rem 0 0 1rem
            border-color: transparent transparent transparent $RIGHT_CHAT_COLOR
            border-style: solid
    & .msg
        text-align: left
    & .date
        text-align: left

.left
    align-self: flex-start
    background-color: $LEFT_CHAT_COLOR
    &:first-child
        border-top-left-radius: 24px
        border-top-right-radius: 24px
    &:last-child
        border-bottom-right-radius: 24px
        border-bottom-left-radius: 0px
        &:after
            content: ''
            position: absolute
            left: -1rem
            bottom: 0
            border-width: 1rem 1rem 0 0
            border-color: transparent $LEFT_CHAT_COLOR transparent transparent
            border-style: solid
    & .msg
        text-align: left
    & .date
        text-align: right

/**
 * chat users styles description
 */
.UserPictWrap
    width: 4rem
    height: 4rem
    border-radius: 8px
    border: 2px solid var(--color-SHADOW)
    margin: 8px
    padding: 6px
    position: relative
    &:hover
        cursor: pointer
        border: 2px solid var(--C7)
        background: var(--color-HOVER)
.focus
    border: 2px solid var(--C1)
.UserPict
    width: 100%
.UserCounter
    position: absolute
    width: 24px
    height: 24px
    right: -2px
    bottom: -2px
    border-radius: 50%
    transform: translate(2px,2px)
    background: tomato
    display: grid
    place-items: center
    & > p
        color: white
        font-size: 13px
        font-weight: 400
